<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-4 col-md">
            <h5>Extra informatie</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Onze kamers</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">De omgeving</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Onze medewerkers</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Uw verblijf</a></li>

            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>Voor huurders</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Voorwaarden</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Spelregels</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Inloggen</a></li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>En waarom ook niet</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Onze hotels</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>